@charset "utf-8";

/* common */

body {
  margin: 0;
  padding: 0;
  background-color: rgb(252, 247, 239);

  width: 1000px;
  margin-inline: auto;
}

textarea {
  margin-top: 1rem;
  width: 100%; height: 8rem;
  font-size: large;
}

#view {
  border: dashed 2px gray;
  padding: 1rem;
  margin-top: 1rem;
}

/* del {
  background-color: #ff8b8b;
  text-decoration: none;
}

ins {
  background-color: #80fc8b;
  text-decoration: none;
  color: gray;
} */

line{
  color: gray;
}
.upper-line{
  margin-top: 20px;
}

/* header */

.inner_title{
  color: white;
  background-color: rgb(8, 36, 73);
  height: 80px;
  margin: 0;
  line-height: 80px;

  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
}

.inner_explane{
  margin: 20px 0 0;
}

.inner_notes{
  margin-top: 16px;
  font-size: 14px;
}

/* kensanaiyou */
.kensa-naiyou{
  margin: 0;
}

.list:first-child{
  margin-top: 20px;
}

/* form */
.kousei_form{
  border: 1px, dashed, gray;
  border-radius: 20px;
  padding: 0 20px 20px;
  margin-top: 20px;
}

.form-subtitle{
  margin-top: 20px;
}

.form-expline{
  margin-top: 20px;
}

/* footer */

footer{
  height: 80px;
  background-color: rgb(8, 36, 73);
  margin-top: 20px;

  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
}